body {
    padding: 0;
    margin: 0;
}

.background-img {
    background-image: url(../img/ad.jpg);
    height: 950px;
    background-size: contain;
    background-repeat: no-repeat;
        width: 543px;
    margin: 0 auto;
}

.li {
    float: right;
    color: #9A7D0A;
    margin-right: 110px;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 3px 2px 2px black;
    font-family: 'Cardo', serif;

}

.zhang {
    position: absolute;
    color: #9A7D0A;
    margin-left: 100px;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 3px 2px 2px black;
    font-family: 'Cardo', serif;

}

h1 {
    font-family: 'Lobster', cursive;
    position: absolute;
    margin-top: 9.5em;
    color: snow;
    font-size: 60px;
    text-shadow: 1px 1px 1px #8b0000;
}

h2 {
    font-family: 'Lobster', cursive;
    position: absolute;
    margin-top: 21.5em;
    color: #17202A;
    font-size: 30px;
    text-shadow: 1px 1px 1px #909090;
}

.center {
    display: flex;
    margin-left: 12.5em;
    justify-content: center;
}
.text{
  font-size: 11px;
  margin-top: 1.5em;
    color: #9A7D0A;
    padding: 1em;
}

footer{
  background-color: black;
  bottom: 0;
  width: 100%;
  height: 3%;
      font-family: 'Lobster', cursive;
}
.img-2002{
  margin-top: 48em;
  width: 53%;
  height: 9vh;
}



.text-footer{
  color: white;
  font-size: 23px;
  bottom: 0;
}
